WEB_PORT=8000
ENV=development
LOG_LEVEL=6

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=golang
DB_USER=root
DB_PASSWORD=password
DB_IDLE=10
DB_MAX=100
DB_LIFETIME=300

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=canonflow

RABBITMQ_CONNECTION_URL=amqp://canonflow:canonflow@localhost:5672/

JWT_SECRET_KEY=

KAFKA_OFFSET_RESET=earliest
KAFKA_BOOTSTRAP_SERVER="localhost:29092"
KAFKA_GROUP_ID=canonflow-clean-architecture
KAFKA_PRODUCER_ENABLED=false